.github/
.idea/
.sonar/
node_modules/.yarn-integrity
coverage/
reports/
__tests__
test/
.scannerwork/
.travis.yml
sonar-project.properties
version.sh
wallaby.js
yarn.lock
*.log
test-report.xml
src/
!lib/
*.config.*
.*
CHANGELOG*